*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

Body {
    min-height: 100vh;
    width:100%;
    background-image: url('images/Banner_5.png');
    background-position: center;
    background-size: cover;
    background-position: relative;
}
.Maps iframe {
    position: absolute;
    display: block;
    top:0%;
    width:80%;
    padding: 0px;
    left: 50%;
    transform: translate(-50%);
    margin:10px 10px 10px 10px;
  
    
}

.Maps h1 {
    display: block;
    position: absolute;
    left:00%;
    color: #25274D;
    bottom:65px;
    
    
    text-align: left;
    
    margin:3px;
    width:80%;
    padding:0Px;

    
    
        
}
.Maps p{
    display: block;
    color: #25274D;
    text-align: left;
    position: absolute;
    font-size: 15px;
    left:00%;
    bottom:7px;
    
    margin:3px;
    width:25%;
    padding:0Px;
    
    
        
}
nav {
    display:contents;
    margin-left:0;
    width:100%;
        
}


nav img{
  
    width:100Px;
    float: left;
    
} 

.Email-btn {
   
    text-decoration: none;
    color:#25274D;
    border:1px solid #25274D;
    padding: 10px 20px;
    font-size: 13px;
    background:transparent;
    margin: 10px 10px 10px 10px;
    position:absolute;
    bottom: 10px; /* Adjust spacing */
    left: 50%; 
    transform: translate(-50%);
    
    cursor:pointer;
    
     
}

.Email-btn:hover{
    border:1Px Solid #f44336;
    background:#f44336;
    transition: 1s;
    
}

@media (max-width: 700px) {
    .Email-btn {
        text-decoration: none;
    color:#25274D;
    border:1px solid #25274D;
    padding: 10px 20px;
    font-size: 10px;
    background:transparent;
    margin: 10px 10px 10px 10px;
    position:absolute;
    bottom: 5px; /* Adjust spacing */
    left: 50%; 
    transform: translate(-50%);
    
    cursor:pointer;
        
    }
    
    .Maps iframe {
    position: absolute;
    display: block;
    top:20%;
    width:80%;
    height:50%;
    padding: 0px;
    left: 50%;
    transform: translate(-50%);
    margin:10px 10px 10px 10px;
  
    
}
    nav img {
        width: 100px; /* Adjust size for mobile */
        float: left; /* Remove float for better alignment */
        margin: 0 auto; /* Center the image */
        display: block; /* Ensure proper display */
    }

    .Maps h1 {
        display: block;
    position: absolute;
    left:78%;
    transform:translate(-50%);
    color: #25274D;
    top:5px;
    font-size: 15px;   
    
    
    text-align: center;
    
    margin:3px;
    width:80%;
    padding:0Px;

    }
    
    .Maps p {
        display: block;
    color: #25274D;
    text-align: left;
    position: absolute;
    font-size: 10px;
    left:80%;
    transform:translate(-50%);
    color: #25274D;
    top:25px;
    margin:3px;
    width:35%;
    padding:0Px;
        
    }
}
