*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.Maps iframe {
    text-align: center;
    padding: 50Px;
    margin:10Px 0Px 10Px;
    width:80%;
         
    
}

.Maps h1 {
      text-align: left;
   margin:0;
    width:80%;
    padding:0Px;
    
    
        
}
nav {
    display:contents;
    margin-right:0;
    width:100%;
    display:inline;
    
}


nav img{
  
    width:100Px;
    float: right;
    
} 

.Email-btn {
    color:blue;
    font-display: fallback;
    position:absolute;
    top:0px;
    left:50%;
}